
#social-icons {
  position: fixed;
  z-index:1000;
  top: 15%;
}

#social-icon.left {
  left: 0px;
  z-index:1000;
}

#social-icons.right {
  right: 0px;
  z-index:1000;
}

#social-icons a {
  display: block;
  text-decoration: none;
  width: 50px;
  height: 30px;
  z-index:1000;
}

#social-icons .fa {
  display: block;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 8px;
  color: #fff;
  text-shadow: 1px 1px 1px #222;
}

#social-icons:hover .fa {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#social-icons .fa-calendar-o {
  background-color: #a2ba00;
}

#social-icons .fa-facebook {
  background-color: #3b5998;
}

#social-icons .fa-twitter {
  background-color: #00aced;
}

#social-icons .fa-youtube-play {
  background-color: #bb0000;
}

#social-icons .fa-google-plus {
  background-color: #dd4b39;
}

#social-icons .fa-linkedin {
  background-color: #007bb6;
}

#social-icons .fa-calendar-o:hover,
#social-icons .fa-facebook:hover,
#social-icons .fa-twitter:hover,
#social-icons .fa-youtube-play:hover,
#social-icons .fa-linkedin:hover,
#social-icons .fa-google-plus:hover 
{
  opacity: 0.8;
}


